h1{
    background-color: #5e5e5e;
    color:#dd830c;
}

.i{
    background-color: #11ee41;
    color: #030300;
}

.u{
    background-color: #5f0d80;
    color: #030300;
}

ul{
    background-color: #dd830c;
    color:#141414;
}

h2{
    background-color: #dd830c;
    color:#61097c;
}

a{
    background-color: #868686;
    color:#ee8e11;
}