h1{
    background-color: #265fd8;
    color:#ffffff;
}

.u{
    background-color: #ee1111;
    color: #eeee55;
}

.i{
    background-color: #921010;
    color: #eeee55;
}

ul{
    background-color: #eeee55;
    color:#ee1111;
}

h2{
    background-color: #aaaaaa;
    color:#265fd8;
}

a{
    background-color: #eeee55;
    color:#ee1111;
}
