h1{
	font-size:26px;
	font-family:Arial;
	color: #6e6e6e;
	font-weight:700;
}

h2{
	font-size:20px;
	font-family:verdana;
	color: #ff0000;
	font-weight:400;
}

p, div{
	font-size:13px;
	font-family:Arial;
	color:#9f9f9f;
	font-weight:100;
}